*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'Martel', serif;
}

/*Ícones para contato - primeiro bloco*/
.icons{

    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;   
    /*background-color: rgba(0, 0, 0, 0.233);*/
}

.icons img{

    width: 35px;
    height: 35px;
    margin: 0px 0px 0px 30px;
}

/*Título principal - Moana*/
#title{

    width: 140px;
    height: 11px;
    font-size: 43px;
    text-shadow: 0px 4px 4px #1C1C1C, 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 90px;
    margin-left: 628px;
    /*background-color: rgba(0, 0, 255, 0.315);*/
}

/*Menu*/
.menu{

    width: 85%;
    height: 40px;
    margin: 10px 85px 45px 85px;
    display: flex;
    /*background-color: rgba(43, 255, 0, 0.438);*/
    
}

    /*Primeiro bloco - Home/ About/ Service*/
.about{

    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /*background-color: rgba(255, 127, 80, 0.432);*/
}

.about a{

    color: black;
    font-size: 18px;
    font-weight: 600;
}
  
/*Segundo bloco - Blog/ Portifolio/ Contact*/
.blog{

    width: 400px;
    height: 40px;
    margin-left: 430px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /*background-color: rgba(255, 127, 80, 0.432);*/
}


.blog a{

    color: black;
    font-size: 18px;
    font-weight: 600;
}


/*Main*/
#main{

    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.493);*/
}


/*Seção de Introdução*/
    /*Imagem Principal*/
.intro{

    width: 100%;
    height: 95vh;
    margin-bottom: 45px;
    background-image: url(assets/Rectangle-1.jpg);
    background-size: cover;
    


}


.intro img{

    /* Rectangle 1 */

    width: 1366px;
    height: 544px;
    left: 0px;
    top: 256px;

    background: url(jealous-weekends-pq4z8CuXwUM-unsplash.jpg);

}

/*Quadrado rosa*/
.rectangle{

    width: 650px;
    height: 309px;;
    background: #FFF0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: absolute;
    left: 358px;
    top: 550px;
}
 
/*Quadrado rosa, Subtítulo - Learnit with Moana*/
#subtitle{

    width: 650px;
    height: 51px;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/*Quadrado rosa, parágrafo - Lorem ipsum*/
#text{
    
    width: 551px;
    height: 136px;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    margin: 40px 0px 0px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Parte do meio */
.middle {

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 45px;
}

/* Rectangle 3 imagem principal */
.middle-image {

    width: 600px;
    height: 800px;
    margin-top: -16px;
}


.image-1 {

    width: 600px;
    height: 800px;
    top: 1118px;
    margin-top: 159px;
}


.text {

    width: 600px;
    height: 800px;
    margin-top: 156px;
    display: flex;
    border: 3px solid #F49C9C;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
    justify-content: space-evenly;
}

.p-text-middle {

    margin: 70px;
}

.read-middle {

    background: #F49C9C;
    border-radius: 10px;    
    margin-bottom: -81px;
    width: 115px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center

}


.link-read-middle {

    color: #FFF0F0;
}


.middle-2 {

    width: 100vw;
    height: 141vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin-bottom: 45px;
}


.middle-image-2 {

    width: 600px;
    height: 800px;
    margin-top: 292px;
}


.image-2 {

    width: 600px;
    height: 800px;
    top: 1110px;
    margin-top: 117px;
}


.text-2 {

    width: 600px;
    height: 800px;
    margin-top: 408px;
    display: flex;
    border: 3px solid #F49C9C;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
    justify-content: space-around;
}

.p-text-middle-1 {

    margin: 1px;
}

.read-middle-2 {

    background: #F49C9C;
    border-radius: 10px;
    margin-bottom: -81px;
    width: 115px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}

.link-read-middle-2 {

    color: #FFF0F0;
}


.middle-3 {

    width: 100vw;
    height: 168vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 45px;
}

/* Rectangle 3 imagem principal */
.middle-image-3 {

    width: 600px;
    height: 800px;
    top: 1118px;
}


.image-3 {

    width: 600px;
    height: 800px;
    margin-top: 468px;
}


.text-3 {

    width: 600px;
    height: 800px;
    margin-top: 464px;
    display: flex;
    border: 3px solid #F49C9C;           
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
    justify-content: space-around;
}


.p-text-middle-3 {

    margin: 70px;
}


.read-middle-3 {

    background: #F49C9C;
    border-radius: 10px;    
    width: 115px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.link-read-middle-3 {

    color: #FFF0F0;
}


.footer {
    width: 100%;
    height: 100vh;
    background-image: url(assets/Rectangle-6.jpg);
    background-size: cover;
    margin-top: 600px;

}

.image-4 {
    width: 100vw;
    height: 160vh;
    margin-top: 489px;
}


.input {
    width: 100px;
    height: 100px;
    display: flex;
   
}

.text-footer {

    position: absolute;
    width: 625px;
    height: 134px;
    left: 103px;
    top: 4176px;
    font-weight: bold;
    font-size: 48px;
    line-height: 81px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;

}


.input-1 {
    /* Fist Name */

    width: 137px;
    height: 40px;
    left: 349px;
    top: 4366px;
    font-family: Martel;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000


}

.name {

    position: absolute;
    width: 542px;
    height: 84px;
    left: 147px;
    top: 4344px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;

}

.name-2 {

    position: absolute;
    width: 542px;
    height: 84px;
    left: 147px;
    top: 4448px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
}

.email {

    position: absolute;
    width: 542px;
    height: 84px;
    left: 147px;
    top: 4552px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
}

.buttom {
    position: absolute;
    width: 542px;
    height: 70px;
    left: 147px;
    top: 4656px;
    background: #F49C9C;
    border-radius: 10px;
    font-size: x-large;
}
 
.end-footer {
    position: absolute;
    width: 1366px;
    height: 104px;
    left: 1px;
    top: 4840px;
    background: #F49C9C;
}  
 
.footer-final { 

    width: 100%;
    height: 90px;
    display: flex;
    justify-content: right;
    align-items: baseline;   
}

#title-footer {
    /* Moana */
    width: 155px;
    height: 76px;
    margin-left: 850px;
    margin-top: -70px;
    top: 4854px;
    font-family: Martel;
    font-size: 45px;
    display: flex;
    align-items: center;
    color: #000000;
    text-shadow: 0px 4px 4px #000000, 0px 4px 4px #000000;

}

.menu-footer {

    width: 85%;
    height: 40px;
    margin: 10px 85px 45px 85px;
    display: flex;
}

.about-footer {
    width: 400px;
    height: 40px;
    margin-top: -59px;
    margin-left: 549px;
    display: flex;
    font-family: Martel;
    color: #000000;
 
}

.about a-1 {
    
    color: black;
    font-size: 18px;
    font-weight: 600;

}

.blog-footer{
    width: 400px;
    height: 40px;
    margin-top: -59px;
    margin-left: 252px;
    display: flex;
    justify-content: space-around;
    
    /*background-color: rgba(255, 127, 80, 0.432);*/
} 


        /*Parte do tablet*/
@media screen and (min-width: 538px) and (max-width: 768px) {
    
    #title {
            margin-left: 534px;
        }
    
    .about {
            margin-left: 75px;
    }
    .icons {
            justify-content: flex-end;
    } 
    .image-1 {
            margin-left: 626px;
    } 
    .text {
           margin-left: 705px;
    }
    .p-text-middle {
           inline-size: inherit;
    }
    .image-2 {
        margin-left: 63px;
    }
    .text-2 {
        margin-left: 573px;
    }
    .p-text-middle-1 {
        inline-size: inherit;
    }
    .image-3 {
        margin-left: 626px;
        margin-top: 370px;
    }
    .text-3 {
        margin-left: 681px;
        margin-top: 371px;
    }
    .p-text-middle-3 {
        inline-size: inherit;
    }
    .image-4 {
        width: 179vw;
        height: 222vh;
        margin-top: 455px;
    }
    .about a {
        margin-left: 17px;
        display: flex;
    }
    .blog {
        margin-left: 329px;
        display: flex;
    }
    .blog a{
        margin-left: 19px;
    }
    .about-footer {
        margin-left: 387;
        width: 175;
    }
    .blog-footer {
        margin-left: 168px;
        justify-content: space-evenly;
    }


}
/*end zz*/


@media (max-width: 425px) {
    
    .middle {
        flex-direction: column;
        width: 141vw;
        height: 305vh;
        margin-left: 281px;
        justify-content: space-between;
    }


    .read-middle {
        margin-bottom: -38px;
    }


    .icons {

        justify-content: flex-end;
        margin-left: 268px;
        align-items: center;
    }


    #title {
        margin-left: 505px;
    }


    .rectangle {
        left: 271px;
    }


    .middle-2 {
        flex-direction: column;
        width: 141vw;
        height: 305vh;
        margin-left: 281px;
        justify-content: space-between;
    }


    .middle-image-2{
        margin-top: 65px;
    }


    .text-2{
        margin-top: 92px;
    }


    .p-text-middle-1 {
        margin: 71px;
    }


    .read-middle-1 {
        margin-bottom: -38px;
    }


    .middle-3 {
        flex-direction: column;
        width: 141vw;
        height: 305vh;
        margin-left: 281px;
        justify-content: space-between;
     
    }


    .middle-image-3 {
        margin-top: -242px;
    }


    .image-3 {
        margin-top: 283px;
    }


    .text-3 {
        margin-top: 333px;
    }


    .p-text-middle-3 {
        margin: 70px;
        margin-top: 51px;
    }


    .read-middle-3 {
        margin-bottom: -38px;
    }


    .image-4 {
        width: 280vw;
        height: 173vh;
        margin-top: 130px;
    }


    .end-footer {
        top: 7025px;
        justify-content: space-evenly;
        display: flex;
    }

    .footer-final {
        margin-left: -919px;
        justify-content: flex-end;
        align-items: baseline;
    }

    .title-footer {
        margin-left: 532px;
    }

    .about-footer {
        margin-left: 201px;
    }

    .blog-footer {
        margin-left:
    }